/* Colours */

:root {
    --dark-color: #231B4B;
    --light-color: #E8EDF9;
    --light-blue: #7B61FF;
    --white: #FFFFFF;
}

* {
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: #E8EDF9;
    font-family: "Roboto", sans-serif;
}

.wrapper {
    width: 1400px;
    margin : 0 auto;
    
}

.desktop-nav{
    
    display:flex;
    justify-content: space-between;
    align-items:center;
    background:#E8EDF9;
    box-shadow: 0px 3px 11px rgba(0,0,0,0.1);
    border-radius: 24px;
    padding:2px 30px;
    padding-right:0;

    position:fixed;
    z-index:3;
    width: calc(1400px - 93px);
    top: 24px;
}

.desktop.nav menu{
    align-items: center;
}

.desktop-nav .menu-items{
    display:flex;
    list-style:none;
}

.desktop-nav .menu-items li{
    margin: 0 20px;
    font-size: 32px;
    color:var(--light-blue);
}

.desktop-nav.menu-items li a{
    text-decoration: none;
    color: var(var(--light-blue));
    font-size: 32px;
    
    position:relative;
}

.desktop-nav.menu-items li a.active::after{
    content:"";
    position:relative;
    height:3px;
    width:100%;
    background: var(--dark-color);
    left:0;
    bottom: -14px;
}


.desktop-nav.menu-items li a.btn{
    color: var(--light-color);


}

.hero-container {
    height: 175vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .hero-container .left {
    flex: 1;
  }
  

  
  
  .hero-container .left .btn {
    position:absolute;
    z-index:1;
    top: 950px;
    left: 235px;
    font-size:32px;
    color:var(--white);
    font-weight:lighter;
  }

  .hero-container .left .btn2{
    position:absolute;
    z-index:1;
    top: 950px;
    left:540px;
    font-size:32px;
    color:var(--white);
    font-weight:lighter;
    
  }
  
  .hero-container .right {
    padding-right: 30px;
  }
  
  /* Hero BG and Polygons */
  
  .hero-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }
  
  .hero-container .polygon {
    position: absolute;
    z-index: 0;
    top: 920px;
    left: 200px;
  }
  
  .hero-container .polygon2 {
    position: absolute;
    z-index: 0;
    top: 920px;
    left: 480px;
  }

  .gallery{
    display:flex;
    align-items:center;
    padding-left:0px;
  }

  .quote{
    display:flex;
    padding-left:250px;
    align-items: center;
    position:absolute;
    top:3500px;
  }

  .quote .container{
    position:absolute;
    top:825px;
    left:605px;
    z-index:0;
  }

  .quote .left .tex{
    position:absolute;
    top:838px;
    left:645px;
    font-size:32px;
    color: var(--white);
    z-index:1;
    box-shadow: rgba(0, 0, 0, 0.1);
  }

  .about{
    display:flex;
    position:absolute;
    top:4750px;
    left:125px;
  }

  .foot{
    position:absolute;
    display:flex;
    top:5800px;
    width:1800px;
    z-index:0;
  }

  



  
  
  
  
